<div class="row d-flex justify-content-center">
  <div class="col-lg-2 col-md-2 col-sm-12">
    <span class="title-lg d-block mb-3">Reset your Password</span>
  </div>
</div>

<div class="row d-flex justify-content-center">

  <div class="col-lg-2 col-md-2 col-sm-12">

    <div *ngIf="verified; then resetFormVA else  errorFrom"></div>

    <ng-template #errorFrom>
      <div [hidden]="!error">
        <div class="alert alert-danger">
          {{error?error.message:""}}
        </div>
      </div>

      <a href="javascript:"  (click)="redirectToResetPage()">Request new Password reset link</a>

    </ng-template>

    <ng-template #resetFormVA>
      <form class="form-horizontal" [formGroup]="resetFormV" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="password" class="cols-sm-6 control-label title-sm">New password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <input type="password" class="form-control" [(ngModel)]="password" id="password" formControlName="password"  placeholder="Enter your Password"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="repassword" class="cols-sm-6 control-label  title-sm">Confirm password</label>
          <div class="cols-sm-10">
            <div class="input-group">

              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" [(ngModel)]="repassword" id="repassword"  formControlName="repassword"  placeholder="Retype your Password"/>
            </div>
          </div>
        </div>

        <div class="form-group ">
          <button type="submit" class="btn btn-primary btn-sm btn-block login-button" [disabled]="!resetFormV.valid">Reset</button>
        </div>
      </form>
    </ng-template>


  </div>
</div>
