body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  font-size: 12px;
}
.title-sm,
.fs-12-bold{
  font-weight: bold;
}
.fs-14{
  font-size: 14px;
}
.title-md,
.fs-14-bold{
  font-size: 14px;
  font-weight: bold;
}
.title-lg,
.fs-18-bold{
  font-size: 18px;
  font-weight: bold;
}
