<div class="row d-flex justify-content-center">
  <div class="col-lg-2 col-md-2 col-sm-12">
    <span class="title-lg d-block mb-3">Forgot Password</span>
    <span class="d-block">
      We all forget things now and then but don't worry, we got your back. Enter your email address below so that we can send you a reset link.
    </span>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-lg-2 col-md-2 col-sm-12">
    <div [hidden]="!error" class="alert alert-danger">
      {{error?error.message:""}}
    </div>

    <div [hidden]="!success">
      <div class="alert alert-success">
        {{success?success:""}}
      </div>
      <a href="javascript:" class="btn btn-info btn-sm" (click)="redirect()">Back</a>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-lg-2 col-md-2 col-sm-12">
    <form [hidden]="success && !error" class="form-horizontal" [formGroup]="resetform" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="email" class="title-sm">Email Address</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" id="email" [(ngModel)]="email" formControlName="email"   placeholder="Enter your Email"/>
          </div>
        </div>
      </div>

      <div class="form-group ">
        <a href="javascript:" class="btn btn-info btn-sm" (click)="redirect()">Back</a>
        <button type="submit" class="btn btn-primary btn-sm login-button" [disabled]="!resetform.valid">Send reset link</button>
      </div>
    </form>
  </div>
</div>



