<div class="d-flex justify-content-center mt-5">
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <span class="d-block title-md">Do you have a question?</span>
      <span class="d-block">Email: oncmmr@gmail.com</span>
    </div>
    <div class="col-md-6 col-lg-6">
      <span class="d-block title-md">Or try our chatbox:</span>
      <span class="d-block">Look in the bottom-right corner of this page.</span>
    </div>
  </div>
</div>
