<div class="row d-flex justify-content-center">
  <div class="col-lg-2 col-md-2 col-sm-12">
    <span class="title-lg d-block mb-3">Login</span>
  </div>
</div>


<div class="row d-flex justify-content-center">
  <div class="col-lg-2 col-md-2 col-sm-12">

    <div [hidden]="!haserror" class="alert alert-danger">
      {{error? error.message : ""}}
    </div>

    <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="email" class="cols-sm-6 control-label">Your Email</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" [(ngModel)]="email" name="email" id="email" formControlName="email"  placeholder="Enter your Email"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="cols-sm-6 control-label">Password</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input type="password" class="form-control" [(ngModel)]="password" name="password" id="password" formControlName="password"  placeholder="Enter your Password"/>
          </div>
        </div>
      </div>

      <div class="form-group ">
        <button type="submit" class="btn btn-primary btn-sm btn-block login-button" [disabled]="!form.valid">Login</button>
      </div>
      <div class="login-register">
        <a href="javascript:" (click)="redirect()">Forgot Password</a>
      </div>
    </form>

  </div>
</div>
